<h1>My Teams</h1>
<div class="list-group">
<% @teams.each do |team| %>
      <% if team.id == session[:selected_team_id] %>
        <%= link_to team.name, team_path(team), :class=> "list-group-item active" %>
      <% else %>
        <%= link_to team.name, team_path(team), :class=> "list-group-item" %>
      <% end %>
<% end %>
<%= link_to "Add a team", new_team_path, :class=> "list-group-item" %>
</div>

<h1>My Teams</h1>
<% team = @teams.first %>
<% snapshot = team.snapshots.last %>
<%= render :partial => "teams/overview_horizontal", :locals => {:snapshot => snapshot, :essence_version => team.essence_version} %></div>
