<p class="lead">Essence allows your team to systemically reflect on team progress and identify new tasks to help the team achieve its goal</p>
 
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><b>Essence project steering provides</b></li>
      <li class="list-group-item">- A holistic view of the project</li>
      <li class="list-group-item">- A structure for retrospective</li>
      <li class="list-group-item">- A mechanism for monitoring progress</li>
      <li class="list-group-item">- A mechanism for risk management</li>
      <li class="list-group-item">- A mechanism for steering projects </li>
      <li class="list-group-item">In a simple, lightweight, non-prescriptive and method-agnostic fashion.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><b>How to use this website</b></li>
      <li class="list-group-item">1. Each team member examines the cards for one alpha.</li>
      <li class="list-group-item">2. Each team member privately determines the current state for the team.</li>
      <li class="list-group-item">3. When everyone is ready, reveal each person's assessment.</li>
      <li class="list-group-item">4. Seek to understand differences of opinions, then find consensus.</li>
      <li class="list-group-item">5. Identify what could be done to achieve the next alpha. </li>
      <li class="list-group-item">6. Record current status and action items.</li>
    </ul>
  </div>
</div>

<% alpha = @version.alphas.first %>

<h2>Sample for <%= alpha.name %> <small><span class="glyphicon glyphicon-info-sign"></span></small></h2>

<div class="row">
        <div class="col-md-4"><%= render :partial => "/alphas/state_card", :locals => {:state => alpha.states[0], :color => alpha.color} %></div>
        <div class="col-md-4"><%= render :partial => "/alphas/state_card", :locals => {:state => alpha.states[1], :color => alpha.color} %></div>
        <div class="col-md-4"><%= render :partial => "/alphas/state_card", :locals => {:state => alpha.states[2], :color => alpha.color} %></div>
</div>

