
<% alpha = @version.alphas.first %>

<h2>Sample for <%= alpha.name %> <small><span class="glyphicon glyphicon-info-sign"></span></small></h2>

<div class="row">
        <div class="col-md-4"><%= render :partial => "/alphas/state_card", :locals => {:state => alpha.visible_states[0], :color => alpha.color} %></div>
        <div class="col-md-4"><%= render :partial => "/alphas/state_card", :locals => {:state => alpha.visible_states[1], :color => alpha.color} %></div>
        <div class="col-md-4"><%= render :partial => "/alphas/state_card", :locals => {:state => alpha.visible_states[2], :color => alpha.color} %></div>
</div>

