<div class="starter-template hidden-print">
  <h1>SEMAT Essence Kernel Tool</h1>
  <p class="lead">Quickly start tracking your project.</p>
  <% unless user_signed_in? %>
  <a class="btn btn-lg btn-success" href="<%= new_user_registration_path %>" role="button">Sign up</a>
  <% end %>
</div>
<h1>Essence Versions</h1>
<div class="list-group">
<% @versions.each do |version| %>
     <%= link_to version.name, version_path(version), :class=> "list-group-item" %>
<% end %>
</div>

